// Place all the styles related to the CommunitiesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
	position: absolute;
	width: 100%;
	height: 92%;
}

#map img { 
  max-width: none;
}

#map label { 
  width: auto; display:inline; 
} 

#add-spot {
	position: absolute;
	width: 44px;
	height: 44px;
	right: 0px;
	top: 10%;
	background-color: white;
}

#add-icon {
	position: absolute;
	top: 15px;
	left: 15px;
}